
/* Fonts */
:root {
  --default-font: "Open Sans",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root { 
  --background-color: #343434; /* Background color for the entire website, including individual sections */
  --default-color: #000000; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #ffffff; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #000000; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff; /* The surfasce color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
  --media-color: #ffffff50; 
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #ffffff;  /* The default color of the main navmenu links */
  --nav-hover-color: rgb(255, 0, 0); /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #212529; /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #cc1616; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */
.light-background {
  --background-color: #f6f6f6;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #060606;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #252525;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/* General Styling & Shared Classes */
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/* Navigation Menu
Desktop Navigation */
@media (min-width: 1200px) {
  .navmenu {
    padding: 0;
  }

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-color);
    padding: 20px 15px;
    margin-left: 2px;
    font-size: 16px;
    font-family: var(--nav-font);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
  }

  .navmenu li:hover>a,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--contrast-color);
    background-color: var(--nav-hover-color);
  }

}

/* Mobile Navigation */
@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: var(--nav-color);
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    padding: 0;
    z-index: 9997;
  }

  .navmenu ul {
    display: none;
    list-style: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 10px 0;
    margin: 0;
    border-radius: 6px;
    background-color: var(--nav-mobile-background-color);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-dropdown-color);
    padding: 10px 20px;
    font-family: var(--nav-font);
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
  }

  .navmenu a i:hover,
  .navmenu a:focus i:hover {
    background-color: var(--accent-color);
    color: var(--contrast-color);
  }

  .navmenu a:hover,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .active i,
  .navmenu .active:focus i {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    transform: rotate(180deg);
  }

  .navmenu .dropdown ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 10px 0;
    margin: 10px 20px;
    background-color: var(--nav-dropdown-background-color);
    transition: all 0.5s ease-in-out;
  }

  .navmenu .dropdown ul ul {
    background-color: rgba(33, 37, 41, 0.1);
  }

  .navmenu .dropdown>.dropdown-active {
    display: block;
    background-color: rgba(33, 37, 41, 0.03);
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    position: absolute;
    font-size: 32px;
    top: 15px;
    right: 15px;
    margin-right: 0;
    z-index: 9999;
  }

  .mobile-nav-active .navmenu {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
    transition: 0.3s;
  }

  .mobile-nav-active .navmenu>ul {
    display: block;
  }
}

 /* Global Footer */
.footer {
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 14px;
  padding-bottom: 50px;
  position: relative;
}

.footer .footer-top {
  padding-top: 50px;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.footer .footer-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: color-mix(in srgb, var(--default-color), transparent 95%);
  border-top: 4px solid var(--accent-color);
  padding: 30px 20px;
}

.footer .footer-about .logo {
  margin-bottom: 5px;
  letter-spacing: 1px;
  font-family: var(--heading-font);
  color: var(--heading-color);
  font-size: 36px;
  padding: 0;
  font-weight: 700;
}

.footer .footer-about p {
  font-size: 14px;
  text-align: center;
  font-family: var(--heading-font);
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 50%);
  font-size: 16px;
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: var(--accent-color);
}

.footer .footer-contact p {
  margin-bottom: 5px;
}

.footer .footer-newsletter .newsletter-form {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 6px 8px;
  position: relative;
  border-radius: 0;
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 80%);
  display: flex;
  background-color: var(--background-color);
  transition: 0.3s;
}

.footer .footer-newsletter .newsletter-form:focus-within {
  border-color: var(--accent-color);
}

.footer .footer-newsletter .newsletter-form input[type=email] {
  border: 0;
  padding: 4px;
  width: 100%;
  background-color: var(--background-color);
  color: var(--default-color);
}

.footer .footer-newsletter .newsletter-form input[type=email]:focus-visible {
  outline: none;
}

.footer .footer-newsletter .newsletter-form input[type=submit] {
  border: 0;
  font-size: 16px;
  padding: 0 20px;
  margin: -8px -9px -8px 0;
  background: var(--accent-color);
  color: var(--contrast-color);
  transition: 0.3s;
  border-radius: 0;
}

.footer .footer-newsletter .newsletter-form input[type=submit]:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);
}

.footer .copyright {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.footer .copyright p {
  margin-bottom: 0;
}

.footer .credits {
  margin-top: 6px;
  font-size: 13px;
}

 /* Global Sections */
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 100px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 66px;
  }
}

/* Global Section Titles */
.section-title {
  text-align: center;
  padding: 30px 0;
  margin-bottom: 30px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 4px;
  color: color-mix(in srgb, var(--heading-color), transparent 95%);
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 1;
}

.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .section-title span {
    font-size: 38px;
  }
}

/* Portada */
.portada {
  width: 100%;
  min-height: 200vh;
  position: relative;
  padding: 160px 0 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portada img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.portada:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 50%);
  position: absolute;
  inset: 0;
  z-index: 2;
}


/* Escuchanos */
.escuchanos {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 160px 0 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.escuchanos img {
  position:relative;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.escuchanos:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 50%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.escuchanos .container {
  position: relative;
  z-index: 3;
}

.escuchanos h2 {
  margin: 0;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700;
}

.escuchanos p {
  margin: 10px 0 0 0;
  font-size: 24px;
  color: var(--heading-color);
}

.escuchanos .btn-get-started {
  color: var(--default-color);
  font-weight: 400;
  font-size: 150px;
  display: inline-block;
  padding: 8px 30px;
  margin: 30px 0 0 50px;
  transition: 0.5s;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .escuchanos h2 {
    font-size: 32px;
  }

  .escuchanos p {
    font-size: 18px;
  }
}

/* Proximos eventos */
.proximosEventos {
  padding: 550px 0;
  position: relative;
  clip-path: inset(0);
}

.proximosEventos img {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.proximosEventos:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 50%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.proximosEventos .container {
  position: relative;
  bottom: 200px;
  z-index: 3;
}

.proximosEventos h3 {
  font-size: 28px;
  font-weight: 700;
  color: var(--default-color);
}

.proximosEventos p {
  color: var(--default-color);
}

.proximosEventos .cta-btn {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 5px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid var(--contrast-color);
  color: var(--contrast-color);
}

.proximosEventos .cta-btn:hover {
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
}

/* Mercancia */
.mercancias .mercancias-item {
  background-color: #424242;
  padding: 60px 40px;
  box-shadow: 0 3px 20px -2px rgba(0, 0, 0, 0.1);
  height: 100%;
  position: relative;
}

.mercancias .containers {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

}
.mercancias h3 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 20px;
}

.mercancias h4 {
  font-size: 48px;
  color: var(--accent-color);
  font-family: var(--heading-font);
  font-weight: 400;
}

.mercancias h4 sup {
  font-size: 28px;
}

.mercancias h4 span {
  color: color-mix(in srgb, var(--default-color), transparent 60%);
  font-size: 18px;
}

.mercancias ul {
  padding: 20px 0;
  list-style: none;
  color: whitesmoke;
  text-align: left;
  line-height: 20px;
}

.mercancias ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.mercancias ul i {
  color: #059652;
  font-size: 24px;
  padding-right: 3px;
}

.mercancias ul .na {
  color: color-mix(in srgb, var(--default-color), transparent 60%);
}

.mercancias ul .na i {
  color: color-mix(in srgb, var(--default-color), transparent 60%);
}

.mercancias ul .na span {
  text-decoration: line-through;
}

.mercancias .buy-btn {
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  background-color: whitesmoke;
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 4px;
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 60%);
  transition: none;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--heading-font);
  transition: 0.3s;
}

.mercancias .buy-btn:hover {
  background: var(--accent-color);
  border-color: var(--accent-color);
  color: var(--contrast-color);
}

.mercancias .featured {
  z-index: 10;
}

.mercancias .featured .mercancias-item {
  background: var(--accent-color);
}

@media (min-width: 992px) {
  .mercancias .featured .mercancias-item {
    transform: scale(1.02, 1.1);
  }
}

.mercancias .featured h3,
.mercancias .featured h4,
.mercancias .featured h4 span,
.mercancias .featured ul,
.mercancias .featured ul .na,
.mercancias .featured ul i,
.mercancias .featured ul .na i {
  color: var(--contrast-color);
}

.mercancias .featured .buy-btn {
  background: var(--accent-color);
  color: var(--contrast-color);
  border-color: var(--contrast-color);
}

.mercancias .featured .buy-btn:hover {
  background: color-mix(in srgb, var(--background-color), transparent 92%);
}

/* Estilo de tabla */
.div-tabla {
  margin: 0;
  border: 0;
  padding: 0;
}

.tabla {
  width: 100%;
}

.form-check-label {
  margin-left: 5px; /* Ajusta el margen izquierdo del texto del checkbox */
}

.terms {
  margin-left: 200px;
}

#userIconButton {
  background: none; /* Sin fondo */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  font-size: 1.5rem; /* Tamaño del ícono */
}

/* Efecto al pasar el mouse sobre el ícono */
#userIconButton:hover {
  color: #007bff; /* Cambia el color al pasar el mouse */
}

.user-popup {
  display: none; /* Oculto por defecto */
  position: absolute;
  border: 1px solid #ccc;
  width: 100px;
  padding: 10px;
  z-index: 1000;
}

.user-icon:hover .user-popup {
  display: block; /* Mostrar el pop-up al pasar el cursor */
}

/* Estilo para el formulario */
#profileForm {
  background-color: #495057; /* Fondo del formulario */
  color: #ffffff; /* Color del texto */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
}

.form-label {
  color: #ffffff; /* Color de las etiquetas */
}

.btn-secondary {
  background-color: #007bff; /* Color del botón secundario */
  border: none; /* Sin borde */
}

.btn-danger {
  background-color: #dc3545; /* Color del botón de eliminar */
  border: none; /* Sin borde */
}

.btn:hover {
  opacity: 0.9; /* Efecto hover */
}

.info-label {
  display: block;
  padding: 8px;
  border: 1px solid #ced4da; /* Borde gris claro */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #6c757d; /* Fondo gris oscuro */
  color: #ffffff; /* Color del texto */
  margin-top: 5px; /* Espaciado superior */
}

.btn {
  width: auto; /* Asegúrate de que el ancho sea automático */
  padding: 10px 20px; /* Ajusta el padding según sea necesario */
  font-size: 16px; /* Ajusta el tamaño de la fuente */
  margin-top: 10px; /* Espaciado superior para separar del contenido anterior */
}

/* Asegúrate de que el botón "Enviar" tenga el mismo estilo que los otros */
.btn-primary {
  background-color: #007bff; /* Color del botón de enviar */
  border: none; /* Sin borde */
}

.btn-primary:hover {
  opacity: 0.9; /* Efecto hover */
}

/* CSS para ajustar el tamaño de los inputs */
.form-control {
  height: 35px; /* Ajusta la altura del input */
  font-size: 14px; /* Ajusta el tamaño de la fuente */
}

.notification {
  position: fixed; /* Fija la notificación en la pantalla */
  bottom: 20px; /* Distancia desde la parte inferior */
  left: 20px; /* Distancia desde la izquierda */
  padding: 15px;
  border-radius: 5px;
  display: none; /* Ocultar por defecto */
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  transition: opacity 0.5s ease; /* Transición suave */
}

.notification.success {
  background-color: #d4edda; /* Color de fondo verde claro */
  color: #155724; /* Color de texto verde oscuro */
}

.notification.error {
  background-color: #f8d7da; /* Color de fondo rojo claro */
  color: #721c24; /* Color de texto rojo oscuro */
}